DATABASE_URL=postgres://user:password@localhost:5432/staq
JWT_SECRET=8JS***********8VWE=

REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080

STAQ_GMAIL_REFRESH_TOKEN=
STAQ_GMAIL_FROM=contactstaq@gmail.com

GOOGLE_CLIENT_ID=2*********************.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=G********************szQ
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback
GOOGLE_GMAIL_REDIRECT_URL=http://localhost:8080/connections/google/callback

TOKEN_ENCRYPTION_KEY=CSr*******************SCJ/w=