APP_ENV=development
PORT=8080

DATABASE_URL=

REDIS_ADDRESS=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080